

.cardid
{
    float: right;
    margin:10px 10px 10px 5px;

}
@media only screen and (max-width: 1300px){

    .cardid
    {
        float: center;
        margin-top:20px;
        margin-right:100px;
    }

}

@media only screen and (max-width: 900px){

    .cardid
    {
        float: center;
        margin-top:20px;
        margin-right:100px;
    }

}
@media only screen and (max-width: 800px){

    .cardid
    {
        float: none;
        margin: auto;
        margin-top:20px;
    }

}
@media only screen and (max-width: 500px){

    .cardid
    {
        float: none;
        margin: auto;
        margin-top:20px;
    }

}